@use "base" as*;

.banner {
  --bannerImageOffsetY: 24px;

  padding-block: var(--bannerImageOffsetY);

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 30px;
    background-color: var(--color-gray);
    border-radius: var(--border-radius-large);

    @include mobile {
      justify-content: center;
    }
  }

  &__body {
    padding: fluid(60, 40);
    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: fluid(26, 20);

    @include mobile {
      align-items: center;
    }
  }

  &__description {
    max-width: 500px;

    @include mobile {
      text-align: center;
    }
  }

  &__image {
    margin-block: calc(var(--bannerImageOffsetY) * -1);

    @include tablet {
      --bannerImageOffsetY: 0;

      max-width: 40%;
      height: auto;
    }
  }
}