@use "base" as *;

.cross-button {
  @include reset-button;
  @include square(44px);

  position: relative;
  border-radius: var(--border-radius-small);

  @include hover {
    background-color: var(--color-accent);
  }

  &::after,
  &::before {
    @include abs-center;

    content: '';
    position: absolute;
    width: 60%;
    height: 2px;
    background-color: var(--color-dark);
    border-radius: 5px;
  }

  &::before {
    rotate: -45deg;
  }

  &::after {
    rotate: 45deg;

  }
}