@charset "UTF-8";
@font-face {
  font-family: "Space Grotesk";
  src: url("/fonts/SpaceGrotesk-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Space Grotesk";
  src: url("/fonts/SpaceGrotesk-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
/**
  Нормализация блочной модели
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure, fieldset):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями и видео
 */
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Убираем скачок интерфейса по горизонтали
    при появлении / исчезновении скроллбара
   */
  scrollbar-gutter: stable;
  /**
    Плавный скролл
   */
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Нормализация высоты элемента ссылки при его инспектировании в DevTools
 */
a:where([class]) {
  display: inline-flex;
  /*color: currentColor;
  text-decoration: none;*/
}

/**
  Курсор-рука при наведении на элемент
 */
button,
label {
  cursor: pointer;
}

/**
  Убирает серую подсветку при тапе на мобильных устройствах (iOS/Android)
 */
button {
  -webkit-tap-highlight-color: transparent;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут fill со значением 'none' или начинается с 'url')
 */
:where([fill]:not([fill=none],
[fill^=url])) {
  fill: currentColor;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут stroke со значением 'none')
 */
:where([stroke]:not([stroke=none],
[stroke^=url])) {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Приведение рамок таблиц в классический 'collapse' вид
 */
:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
:root {
  --color-dark: #191A23;
  --color-dark-alt: #292A32;
  --color-light: #ffffff;
  --color-accent: #B9FF66;
  --color-gray: #F3F3F3;
  --color-gray-alt: #898989;
  --border: 1px solid var(--color-dark);
  --border-radius: 14px;
  --border-radius-small: 7px;
  --border-radius-large: 45px;
  --box-shadow: 0 5px 0 0 var(--color-dark);
  --font-family-base: "Space Grotesk";
  --container-width: 1240px;
  --container-padding-x: 20px;
  --section-padding-y: clamp(30px, 4.8611111111vw, 70px);
  --input-height: 60px;
  --button-height: 68px;
  --transition-duration: 0.2s;
  --transition-duration-l: 0.3s;
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  padding-inline: var(--container-padding-x);
  margin-inline: auto;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@media (width <= 767px) {
  .hidden-mobile {
    display: none !important;
  }
}

@media (width > 767px) {
  .visible-mobile {
    display: none !important;
  }
}

body {
  font-size: clamp(16px, 1.25vw, 18px);
  font-family: var(--font-family-base), sans-serif;
  font-weight: 400;
  line-height: 1.28;
  color: var(--color-dark);
  background-color: var(--color-light);
}

a,
button,
input,
textarea,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  text-decoration: none;
  color: inherit;
}

button,
a,
input[type=submit] {
  -webkit-user-select: none; /* Для iOS Safari */
  user-select: none; /* Стандартное свойство */
}

h1, .h1 {
  font-size: clamp(43px, 4.1666666667vw, 60px);
}

h2, h2 {
  font-size: clamp(36px, 2.7777777778vw, 40px);
}

h3, h3 {
  font-size: clamp(26px, 2.0833333333vw, 30px);
}

h4, h4 {
  font-size: clamp(18px, 1.3888888889vw, 20px);
}

h1,
h2,
h3,
h4 {
  font-weight: 500;
}

.greed {
  --greedColumns: 1;
  display: grid;
  grid-template-columns: repeat(var(--greedColumns), 1fr);
  gap: clamp(30px, 2.7777777778vw, 40px);
}
.greed--2 {
  --greedColumns: 2;
}
.greed--3 {
  --greedColumns: 3;
}
.greed--4 {
  --greedColumns: 4;
}
.greed--5 {
  --greedColumns: 5;
}
.greed--6 {
  --greedColumns: 6;
}
@media (width <= 1023px) {
  .greed--2 {
    --greedColumns: 1;
  }
}
@media (width <= 1280px) {
  .greed--3 {
    --greedColumns: 2;
  }
}
@media (width <= 767px) {
  .greed--3 {
    --greedColumns: 1;
  }
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: var(--button-height);
  padding-inline: 35px;
  border: var(--border);
  font-size: 20px;
  text-wrap: nowrap;
  color: var(--color-light);
  background-color: var(--color-dark);
  border-radius: var(--border-radius);
}
@media (hover: hover) {
  .button:hover {
    color: var(--color-dark);
    background-color: var(--color-accent);
  }
}
@media (hover: none) {
  .button:active {
    color: var(--color-dark);
    background-color: var(--color-accent);
  }
}
.button--transparent {
  background-color: transparent;
  color: var(--color-dark);
}

.burger-button {
  padding: 0;
  background-color: transparent;
  border: none;
  width: 44px;
  height: 44px;
  position: relative;
  border-radius: var(--border-radius-small);
}
@media (hover: hover) {
  .burger-button:hover {
    background-color: var(--color-accent);
  }
}
@media (hover: none) {
  .burger-button:active {
    background-color: var(--color-accent);
  }
}
.burger-button::after {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  content: "";
  position: absolute;
  width: 50%;
  height: 2px;
  background-color: var(--color-dark);
  border-radius: 5px;
  box-shadow: 0 -8px, 0 8px;
}

.cross-button {
  padding: 0;
  background-color: transparent;
  border: none;
  width: 44px;
  height: 44px;
  position: relative;
  border-radius: var(--border-radius-small);
}
@media (hover: hover) {
  .cross-button:hover {
    background-color: var(--color-accent);
  }
}
@media (hover: none) {
  .cross-button:active {
    background-color: var(--color-accent);
  }
}
.cross-button::after, .cross-button::before {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  content: "";
  position: absolute;
  width: 60%;
  height: 2px;
  background-color: var(--color-dark);
  border-radius: 5px;
}
.cross-button::before {
  rotate: -45deg;
}
.cross-button::after {
  rotate: 45deg;
}

.header {
  padding-block: clamp(30px, 4.1666666667vw, 60px);
}
@media (width <= 767px) {
  .header {
    padding-block: 20px;
  }
}
.header__inner {
  display: flex;
  align-items: center;
  column-gap: clamp(10px, 2.7777777778vw, 40px);
}
.header__logo {
  margin-right: auto;
  min-width: 120px;
}
@media (width <= 767px) {
  .header__logo {
    max-width: 144px;
  }
}
.header__menu {
  font-size: clamp(18px, 1.3888888889vw, 20px);
  text-wrap: nowrap;
}
.header__menu-list {
  display: flex;
  align-items: center;
  column-gap: clamp(10px, 2.7777777778vw, 40px);
}
@media (width <= 1023px) {
  .header__menu-list {
    column-gap: 10px;
  }
}
.header__menu-link {
  position: relative;
  display: inline-flex;
  align-items: center;
  height: clamp(30px, 3.3333333333vw, 48px);
}
.header__menu-link::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  translate: -50%;
  width: 0;
  height: 2px;
  border-radius: 5px;
  background-color: currentColor;
  transition-duration: var(--transition-duration);
}
@media (hover: hover) {
  .header__menu-link:hover::after {
    width: 100%;
  }
}
@media (hover: none) {
  .header__menu-link:active::after {
    width: 100%;
  }
}
@media (width <= 1023px) {
  .header__button {
    height: 50px;
    padding-inline: 18px;
    font-size: 16px;
  }
}

.mobile-overlay {
  width: 100%;
  height: 100%;
  margin: 0;
  border: none;
  padding: 0;
  opacity: 0;
}
.mobile-overlay[open] {
  opacity: 1;
  transition: opacity var(--transition-duration-l) ease;
}
@starting-style {
  .mobile-overlay[open] {
    opacity: 0;
  }
}
.mobile-overlay:modal {
  max-width: 100%;
  max-height: 100%;
}
.mobile-overlay__close-button-wrapper {
  display: flex;
  justify-content: end;
  padding: var(--container-padding-x);
}
.mobile-overlay__menu-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 30px;
  height: 80vh;
}
.mobile-overlay__menu-link {
  position: relative;
}
@media (width <= 767px) {
  .mobile-overlay__menu-link {
    font-size: 24px;
    font-weight: 500;
  }
}
.mobile-overlay__menu-link::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  translate: -50%;
  width: 0;
  height: 2px;
  border-radius: 5px;
  background-color: currentColor;
  transition-duration: var(--transition-duration);
}
@media (hover: hover) {
  .mobile-overlay__menu-link:hover::after {
    width: 100%;
  }
}
@media (hover: none) {
  .mobile-overlay__menu-link:active::after {
    width: 100%;
  }
}

.section {
  padding-block: var(--section-padding-y);
}
.section__header {
  display: flex;
  align-items: center;
  column-gap: 40px;
}
.section__header:not(:last-child) {
  margin-bottom: clamp(40px, 5.5555555556vw, 80px);
}
@media (width <= 767px) {
  .section__header {
    flex-direction: column;
    row-gap: 30px;
    text-align: center;
  }
}
.section__description {
  max-width: 580px;
  font-size: 18px;
}
@media (width <= 1023px) {
  .section__description {
    font-size: 16px;
  }
}

.hero {
  display: flex;
  flex-direction: column;
  row-gap: var(--section-padding-y);
}
@media (width <= 1280px) {
  .hero {
    row-gap: 50px;
  }
}
.hero__main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: clamp(20px, 7.5vw, 108px);
}
@media (width <= 767px) {
  .hero__main {
    flex-direction: column;
    row-gap: 20px;
  }
}
.hero__body {
  max-width: 531px;
  min-width: 380px;
  display: flex;
  flex-direction: column;
  align-items: start;
  row-gap: clamp(20px, 2.4305555556vw, 35px);
}
@media (width <= 767px) {
  .hero__body {
    display: contents;
  }
}
@media (width <= 767px) {
  .hero__title {
    font-size: 38px;
    order: 1;
  }
}
@media (width <= 767px) {
  .hero__description {
    order: 3;
  }
}
.hero__image {
  width: 100%;
  max-width: 600px;
  height: auto;
}
@media (width <= 1280px) {
  .hero__image {
    max-width: 500px;
  }
}
@media (width <= 1023px) {
  .hero__image {
    max-width: 40%;
  }
}
@media (width <= 767px) {
  .hero__image {
    max-width: 100%;
    order: 2;
  }
}
@media (width <= 767px) {
  .hero__button {
    order: 4;
  }
}
.hero__partners-list {
  display: flex;
  justify-content: space-between;
  column-gap: clamp(30px, 6.5972222222vw, 95px);
}
@media (width <= 767px) {
  .hero__partners-list {
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: none;
  }
  .hero__partners-list::-webkit-scrollbar {
    display: none;
  }
}
@media (width <= 767px) {
  .hero__partners-item {
    flex-shrink: 0;
    scroll-snap-align: start;
    width: 125px;
  }
  .hero__partners-item img {
    display: block;
    width: 100%;
    height: auto;
  }
}

.puddle-bg {
  padding-inline: 7px;
  background-color: var(--color-accent);
  border-radius: var(--border-radius-small);
  text-wrap: nowrap;
}
.puddle-bg--light {
  background-color: var(--color-light);
}

.services__list:not(:last-child) {
  margin-bottom: clamp(70px, 6.9444444444vw, 100px);
}

.service-card {
  width: 100%;
  min-height: 310px;
  padding: 50px;
  display: flex;
  justify-content: space-between;
  column-gap: 30px;
  border: var(--border);
  border-radius: var(--border-radius-large);
  box-shadow: var(--box-shadow);
  background-color: var(--color-gray);
}
@media (width <= 767px) {
  .service-card {
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 27px;
  }
}
.service-card--accent-bg {
  background-color: var(--color-accent);
}
.service-card--black-bg {
  background-color: var(--color-dark);
}
.service-card__body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (width <= 767px) {
  .service-card__body {
    display: contents;
  }
}
.service-card__title {
  display: flex;
  flex-direction: column;
}
@media (width <= 767px) {
  .service-card__title {
    grid-column: -1/1;
    justify-self: start;
  }
}
.service-card__link {
  --serviceCardLinkIconColor: var(--color-accent);
  display: inline-flex;
  align-items: center;
  column-gap: 15px;
  font-size: 20px;
}
@media (hover: hover) {
  .service-card__link:hover {
    transform: scale(1.03);
  }
}
@media (hover: none) {
  .service-card__link:active {
    transform: scale(1.03);
  }
}
@media (width <= 767px) {
  .service-card__link {
    align-self: end;
  }
}
@media (width <= 767px) {
  .service-card__link-label {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    margin: -1px !important;
    border: 0 !important;
    padding: 0 !important;
    white-space: nowrap !important;
    clip-path: inset(100%) !important;
    clip: rect(0 0 0 0) !important;
    overflow: hidden !important;
  }
}
.service-card__link--light {
  --serviceCardLinkIconColor: var(--color-dark);
  color: var(--color-light);
}
.service-card__link-icon-wrapper {
  width: 41px;
  height: 41px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: currentColor;
}
.service-card__link-icon-wrapper svg * {
  color: var(--serviceCardLinkIconColor);
}
.service-card__image {
  width: 100%;
  max-width: 210px;
  height: auto;
  align-self: center;
  flex-shrink: 1;
  min-width: 140px;
}

.banner {
  --bannerImageOffsetY: 24px;
  padding-block: var(--bannerImageOffsetY);
}
.banner__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 30px;
  background-color: var(--color-gray);
  border-radius: var(--border-radius-large);
}
@media (width <= 767px) {
  .banner__inner {
    justify-content: center;
  }
}
.banner__body {
  padding: clamp(40px, 4.1666666667vw, 60px);
  display: flex;
  flex-direction: column;
  align-items: start;
  row-gap: clamp(20px, 1.8055555556vw, 26px);
}
@media (width <= 767px) {
  .banner__body {
    align-items: center;
  }
}
.banner__description {
  max-width: 500px;
}
@media (width <= 767px) {
  .banner__description {
    text-align: center;
  }
}
.banner__image {
  margin-block: calc(var(--bannerImageOffsetY) * -1);
}
@media (width <= 1023px) {
  .banner__image {
    --bannerImageOffsetY: 0;
    max-width: 40%;
    height: auto;
  }
}

.studies {
  border-radius: var(--border-radius-large);
}
@media (width > 1023px) {
  .studies {
    padding: clamp(42px, 4.8611111111vw, 70px) clamp(50px, 4.1666666667vw, 60px);
    background-color: var(--color-dark);
  }
}
.studies__list {
  display: flex;
}
@media (width <= 1023px) {
  .studies__list {
    column-gap: 20px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: none;
  }
  .studies__list::-webkit-scrollbar {
    display: none;
  }
}
.studies__item {
  --studiesItemPaddingX: clamp(20px, 4.4444444444vw, 64px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 20px;
}
@media (width > 1023px) {
  .studies__item {
    flex: 1;
  }
  .studies__item:not(:last-child) {
    padding-right: var(--studiesItemPaddingX);
    border-right: 1px solid var(--color-light);
  }
  .studies__item:not(:first-child) {
    padding-left: var(--studiesItemPaddingX);
  }
}
@media (width <= 1023px) {
  .studies__item {
    min-width: 350px;
    padding: 42px 50px;
    background-color: var(--color-dark);
    border-radius: var(--border-radius-large);
    flex-shrink: 0;
    scroll-snap-align: start;
    max-width: 350px;
  }
}
.studies__description {
  color: var(--color-light);
}
@media (width <= 767px) {
  .studies__description {
    font-size: 16px;
  }
}
.studies__link {
  display: inline-flex;
  column-gap: 15px;
  color: var(--color-accent);
  font-size: 20px;
}
@media (hover: hover) {
  .studies__link:hover {
    scale: 1.03;
  }
}
@media (hover: none) {
  .studies__link:active {
    scale: 1.03;
  }
}

.process__list {
  display: flex;
  flex-direction: column;
  row-gap: clamp(20px, 2.0833333333vw, 30px);
  counter-reset: custom-counter;
  list-style: none;
}
.process__item {
  counter-increment: custom-counter;
}
.process__accordion {
  --indicatorVerticalRotate: 90deg;
  padding: clamp(30px, 2.7777777778vw, 40px) clamp(30px, 4.1666666667vw, 60px);
  border: var(--border);
  border-radius: var(--border-radius-large);
  background-color: var(--color-gray);
  box-shadow: var(--box-shadow);
  transition-duration: var(--transition-duration);
}
@media (hover: hover) {
  .process__accordion:hover {
    background-color: var(--color-accent);
  }
}
@media (hover: none) {
  .process__accordion:active {
    background-color: var(--color-accent);
  }
}
.process__accordion[open] {
  --indicatorVerticalRotate: 0deg;
  background-color: var(--color-accent);
}
.process__accordion-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 30px;
  cursor: pointer;
  user-select: none;
  list-style: none;
}
.process__accordion-header::-webkit-details-marker {
  display: none;
}
.process__accordion-title {
  display: flex;
  align-items: center;
  column-gap: 25px;
}
.process__accordion-title::before {
  content: "0" counter(custom-counter);
  font-size: 2em;
}
@media (width <= 767px) {
  .process__accordion-title {
    column-gap: 25px;
    font-size: 18px;
  }
}
.process__accordion-indicator {
  display: flex;
  align-items: center;
  justify-content: center;
  width: clamp(40px, 4.0277777778vw, 58px);
  height: clamp(40px, 4.0277777778vw, 58px);
  position: relative;
  background-color: var(--color-gray);
  border: var(--border);
  border-radius: 50%;
  flex-shrink: 0;
}
.process__accordion-indicator::before, .process__accordion-indicator::after {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  content: "";
  width: 43%;
  height: 10%;
  background-color: var(--color-dark);
  border-radius: 2px;
}
.process__accordion-indicator::after {
  rotate: var(--indicatorVerticalRotate);
  transition-duration: var(--transition-duration);
}
.process__accordion-body {
  margin-top: 30px;
  padding-top: 30px;
  border-top: var(--border);
}

.team {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}
.team__button {
  align-self: end;
  min-width: 260px;
}
@media (width <= 767px) {
  .team__button {
    align-self: center;
    min-width: 320px;
  }
}

.team-card {
  height: 100%;
  width: 100%;
  padding: 40px 35px;
  border: var(--border);
  border-radius: var(--border-radius-large);
  box-shadow: var(--box-shadow);
}
.team-card__header {
  display: flex;
}
.team-card__image:not(:last-child) {
  margin-right: 20px;
}
.team-card__info {
  align-self: end;
}
.team-card__info:not(:last-child) {
  margin-right: 10px;
}
.team-card__name:not(:last-child) {
  margin-bottom: 3px;
}
.team-card__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 34px;
  height: 34px;
  margin-left: auto;
  align-self: start;
  flex-shrink: 0;
  color: var(--color-accent);
  background-color: var(--color-dark);
  border-radius: 50%;
}
.team-card__body {
  margin-top: 28px;
  padding-top: 28px;
  border-top: var(--border);
}
@media (width <= 767px) {
  .team-card__body {
    margin-top: 20px;
    padding-top: 20px;
  }
}

.pagination__list {
  display: flex;
  column-gap: 10px;
}
.pagination__button {
  padding: 0;
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  color: var(--color-light);
}
@media (hover: hover) {
  .pagination__button:hover {
    color: var(--color-accent);
  }
}
@media (hover: none) {
  .pagination__button:active {
    color: var(--color-accent);
  }
}
.pagination__button.is-current {
  color: var(--color-accent);
}

.reviews {
  display: flex;
  flex-direction: column;
  row-gap: clamp(60px, 8.6111111111vw, 124px);
  padding-top: clamp(30px, 5.8333333333vw, 84px);
  padding-bottom: clamp(60px, 4.7222222222vw, 68px);
  padding-inline: 10px;
  color: var(--color-light);
  background-color: var(--color-dark);
  border-radius: var(--border-radius-large);
}
.reviews__slider-list {
  display: flex;
  column-gap: 50px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scrollbar-width: none;
}
.reviews__slider-list::-webkit-scrollbar {
  display: none;
}
.reviews__slider-item {
  flex-shrink: 0;
  scroll-snap-align: center;
  max-width: 600px;
}
@media (width <= 767px) {
  .reviews__slider-item {
    max-width: 100%;
  }
}
.reviews__actions {
  width: 100%;
  max-width: 564px;
  margin-inline: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.reviews__arrow-button {
  padding: 0;
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  color: var(--color-light);
}
@media (hover: hover) {
  .reviews__arrow-button:hover {
    color: var(--color-accent);
  }
}
@media (hover: none) {
  .reviews__arrow-button:active {
    color: var(--color-accent);
  }
}
.reviews__arrow-button svg {
  width: 20px;
  height: 20px;
}

.review-card {
  --reviewCardCornerWidth: 40px;
  --reviewCardCornerOffsetLeft: 52px;
  display: flex;
  flex-direction: column;
  row-gap: 48px;
}
.review-card__body {
  position: relative;
  padding: 48px var(--reviewCardCornerOffsetLeft) 52px;
  border: 1px solid var(--color-accent);
  border-radius: var(--border-radius-large);
}
.review-card__body::after {
  width: var(--reviewCardCornerWidth);
  height: var(--reviewCardCornerWidth);
  content: "";
  position: absolute;
  top: 100%;
  left: var(--reviewCardCornerOffsetLeft);
  translate: 0 -50%;
  background-color: var(--color-dark);
  border: inherit;
  rotate: 45deg;
  clip-path: polygon(100% 0, 0% 100%, 100% 100%);
}
.review-card__footer {
  display: flex;
  flex-direction: column;
  padding-left: calc(var(--reviewCardCornerWidth) + var(--reviewCardCornerOffsetLeft) / 2);
}
.review-card__name, .review-card__company {
  font-style: normal;
}
.review-card__name {
  color: var(--color-accent);
}

/*# sourceMappingURL=styles.css.map */
